* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
}