footer{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    
    padding: 0px 0 30px 0px;
    line-height: 1.7;
}

footer h4 {
    font-size: 1.3em;
}

.col-link {
    margin-left: 5%;
}

.col-link a {
    color: #9f9f9f;
    cursor: pointer;
}

.col-con ul{
    color: #9f9f9f;
}

.col-con span {
    padding-left: 25px;
    display: inline-block;
}

.contact-1::before {
    font-family: 'FontAwesome';
    content:"\f3c5";
    position: absolute;
}

.contact-2::before {
    font-family: 'FontAwesome';
    content:"\f095";
    position: absolute;
}

.contact-3::before {
    font-family: 'FontAwesome';
    content:"\f0e0";
    position: absolute;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.social li{
    margin: 0 10px;
}
.social a{
    text-decoration: none;
    color: white;
}
.social a:hover i{
    color: royalblue;
}
