
.login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
  }
.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}
.login-container {
    background: #ebebeb;
    padding: 12px;
}
.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: rgb(34, 221, 193);
  }
.login-header {
    background: rgb(34, 221, 193);
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
  